{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home | {% endblock %}

{% block content %}
    <div class="container container-content h-100">
        <div class="row h-100 d-flex justify-content-center {% if reviews|length < 1 %}space-home{% endif %}">
            <div class="col-10 col-md-8 my-auto pt-2 text-center gamerStyle">
                <!-- Introduction section -->
                <h1>Snacks so good you'll keep coming back..</h1>
                <p class="altFont tagline my-0">Create an account to start adding snacks!</p>
                <div class="my-2">
                    <a href="{% url 'supplies' %}" class="btn btn-lg text-uppercase">Snack Now</a>
                </div>
                <!-- Temporary coupon code displayed to regular users - see crate.html Features/Features to be added in README.md -->
                <!-- This information has been hard coded as automated coupons has not been implemented in this release -->
                <p>Use code <span class="highlight">GSLAUNCH 21</span> for 40% off to celebrate our launch!</p>
                {% if reviews %}
                    <!-- Reviews -->
                    <h2 class="highlight mt-4">Why believe us?</h2>
                    <p class="altFont my-0 tagline">Read some of our reviews below</p>
                    <!-- Credit for adapted Bootstrap 5 carousel: https://getbootstrap.com/docs/5.0/components/carousel/ -->
                    <div id="review-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                            {% for review in reviews %}
                            <!-- Credit for inner carousel for loop -->
                            <div class="carousel-item h-100 p-4 {% if forloop.counter == 1 %}active{% endif %}">
                                <p class="ratings">{{ review.rating }}</p>
                                <p class="altFont">{{ review.review }}</p>
                                <p class="altFont"><span class="highlight">Added By:</span> {{ review.added_by|title }}</p>
                                {% if request.user == review.added_by or request.user.is_superuser %}
                                    <a class="btn my-2" data-bs-toggle="modal" data-bs-target="#delete-{{ review.id }}"><i class="fas fa-trash"></i> Delete Review</a>
                                    <!-- Credit for adapted Bootstrap 5 static backdrop Modal: https://getbootstrap.com/docs/5.0/components/modal/ -->
                                    <div class="modal fade" id="delete-{{ review.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="review-home-delete-label-{{ review.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content gamerStyle">
                                                <div class="modal-header">
                                                    <h2 class="modal-title w-100 text-center" id="review-home-delete-label-{{ review.id }}">Delete Review</h2>
                                                </div>
                                                <div class="modal-body altFont">
                                                    <p>Are you sure you want to delete review <span class="highlight">{{ review.id }}</span>?</p>
                                                    <p>The contents of the review are as follows:</p>
                                                    <p class="ratings">{{ review.rating }}</p>
                                                    <p class="altFont">{{ review.review }}</p>
                                                    <p class="altFont"><span class="highlight">Added By:</span> {{ review.added_by|title }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="row w-100">
                                                        <!-- Modal buttons -->
                                                            <div class="col-7 text-start">
                                                                <a href="{% url 'review_delete' review.id %}" class="btn my-2">Delete <span class="d-none d-sm-inline">Review</span></a>
                                                            </div>
                                                        <div class="col-5 text-end">
                                                            <a data-bs-dismiss="modal" class="btn my-2">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Carousel controls -->
                        <button class="carousel-control-prev my-auto" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next my-auto" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {% endif %}
                <div class="row">
                    <!-- Review buttons -->
                    {% if request.user.is_authenticated %}
                        <div class="col-{% if request.user.is_superuser %}7 text-start{% else %}12{% endif %}">
                            <a href="{% url 'review_add' %}" class="btn my-2">Add Review</a>
                        </div>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <div class="col-5 text-end">
                        <a href="{% url 'reviews_manage' %}" class="btn my-2">Manage <span class="d-none d-sm-inline">Reviews</span></a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 mb-1">
                    <!-- Trigger FAQ modal -->
                    <p class="altFont tagline">Stuck? <a href="#faq" data-bs-toggle="modal">Read our FAQ</a></p>
                    <!-- Credit for adapted Bootstrap 5 Modal: https://getbootstrap.com/docs/5.0/components/modal/ -->
                    <div class="modal fade" id="faq" data-bs-keyboard="false" tabindex="-1" aria-labelledby="faqLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content gamerStyle">
                                <div class="modal-header">
                                    <h2 class="modal-title w-100 text-center" id="faqLabel">Frequently Asked Questions</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="col-12">
                                        <span class="highlight">"How much is delivery?"</span>
                                        <p class="altFont">We offer free worldwide delivery!</p>
                                        <span class="highlight">"I've not received my items. What do I do?"</span>
                                        <p class="altFont">If you do not receive your items please contact us <a href="mailto:officialgamersupplies@gmail.com?subject=Gamer%20Supplies%20-%20Query">here</a>.</p>
                                        <span class="highlight">"How do I update my delivery information?"</span>
                                        <p class="altFont">You can update your information by visiting your profile <a href="{% url 'profile' %}">here</a>.</p>
                                        <span class="highlight">"How do I make an account?"</span>
                                        <p class="altFont">You can create an account by registering <a href="{% url 'account_signup' %}">here</a> and confirming your email address.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <!-- Modal dismiss -->
                                        <div class="col-12 mx-auto"><a data-bs-dismiss="modal" class="btn my-2">Close</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Display stars for each rating in Reviews -->
    <script src="{% static 'home/js/ratings.js' %}"></script>
{% endblock %}