{% extends "base.html" %}
{% load static %}
{% load crate_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container container-crate text-center mb-2">
    <div class="row">
        <div class="col">
            <h1 class="">Your crate</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 gamerStyle py-2">
            {% if crate_items %}
            <div class="table-responsive rounded-0 table-crate altFont">
                <table class="table table-sm table-borderless">
                    <thead class="highlight">
                        <tr>
                            <th scope="col">Supply Info</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in crate_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded img-crate" src="{{ item.supply.image.url }}">
                                <p class="my-0"><strong>{{ item.supply.name }}</strong></p>
                            </td>
                            <td class="py-4"><p class="my-0">£{{ item.supply.price }}</p></td>
                            <td class="py-3 w-25">
                                <form class="form form-update" method="POST" action="{% url 'modify_crate' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="qty-decrement btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="qty-decrement_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty-input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="qty-increment btn btn-sm btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="qty-increment_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="btn link-update mt-1"><small>Update</small></a>
                                <a class="btn link-delete mt-1" id="remove_{{ item.item_id }}"><small>Delete</small></a>
                            </td>
                            <td class="py-4"><p class="my-0">£{{ item.supply.price | subtotal:item.quantity }}</p></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="5"><h4 class="highlight text-right crate-info"><strong>Crate Total:</strong> £{{ total|floatformat:2 }}</h4></td></tr>
                    <tr>
                        <td colspan="5" class="crate-info">
                            <a href="{% url 'supplies' %}" class="btn btn-crate rounded-0 btn-lg w-75">
                                <i class="fas fa-hand-point-left"></i><span class="text-uppercase my-2">Browse more snacks</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="crate-info">
                            <a href="{% url 'checkout' %}" class="btn btn-crate rounded-0 btn-lg w-75">
                                <i class="fas fa-lock"></i><span class="text-uppercase">Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <p class="highlight">Your crate is empty.</p>
                <a href="{% url 'supplies' %}" class="btn rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Browse snacks</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'supplies/includes/quantity_input.html' %}
    <script type="text/javascript">
        // Click event for updating quantity
        $('.link-update').click(function(e) { var form = $(this).prev('.form-update'); form.submit(); })
        // Remove item and reload on click
        $('.link-delete').click(function(e) { 
            var csrfToken = "{{ csrf_token }}"; 
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/crate/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data).done(function() { location.reload(); }); })
    </script>
{% endblock %}