{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container container-content">
        <div class="row d-flex justify-content-center">
            <div class="col-8 gamerStyle">
                <div class="text-center">
                    <h1>500 - Server Error</h1>
                    <p class="altFont">Oh no! Looks like something went wrong.</p>
                    <p class="altFont">To return to the home page click the button below.</p>
                    <a href="{% url 'home' %}" class="btn solid mx-auto mb-2">Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}