.StripeElement,
.form-input {
    -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 3px 0 #141414; box-shadow: 0 1px 3px 0 #141414;
    padding: 10px 12px; margin-bottom: 10px; border-radius: 0px; color: #4169e1; background-color: #eee6e6; font-family: 'Salsa', cursive;
} 

#error-element { color: #eee6e6; }

#loading-overlay { 
    display: none; position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%;     
    background: #4169e1; border-top: 10px solid #ffd700; border-bottom: 10px solid #ffd700;
}

.loading-msg { align-items: center; height: 100%; }

.loading-msg i { color: #ffd700; }

select, select option, .form-control { color: #141414; }

select:invalid, select option[value=""] { color: #6c757d }