{% load crate_tools %}
<div class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header header-toasts">
        <h6 class="me-auto"><i class="fas fa-thumbs-up"></i> Success</h6>
      <a type="button" data-dismiss="toast" aria-label="Dismiss"><i class="fas fa-window-close toast-close"></i></a>
    </div>
    <div class="toast-body gamerStyle">
        <p class="altFont">{{ message }}</p>
        {% if total and not on_profile_page or not on_manage_page %}
        <p class="highlight py-1">Your crate ({{ supply_count }} supplies)</p>
        <div class="crate-wrapper">
            {% for item in crate_items %}
                <div class="row">
                    <div class="col-3 my-1">
                    {% if item.supply.image %}
                        <img src="{{ item.supply.image.url }}" alt="{{ item.supply.name }}"" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.supply.name }}" class="card-img-top img-fluid">
                    {% endif %}
                    </div>
                    <div class="col-9 p-0 table-crate">
                        <p class="my-0 highlight">{{ item.supply.name }}</p>
                        <p class="my-0 small"><span class="highlight">Qty:</span> {{ item.quantity }} <span class="highlight">Subtotal:</span> £{{ item.supply.price | subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <p class="toast-checkout mt-1"><span class="highlight">Total:</span> £{{ total|floatformat:2 }}</p>
                <a href="{% url 'view_crate' %}" class="btn toast-checkout rounded-0">
                    <i class="fas fa-lock"></i> <span class="text-uppercase">Go To Secure Checkout</span>
                </a>
            </div>
        </div>
    {% endif %}
    </div>
  </div>