{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-supplies">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="logo-font">Supplies</h1>
        </div>
    </div>
    {% with request.get_full_path as url_name %}
    <ul class="nav nav-tabs fw-bold justify-content-center p-0 my-2 gamerStyle container-categories">
        <li class="nav-item">
            <a class="rounded-0 nav-link {% if 'category' not in url_name %}{% if 'sort' not in url_name %}active{% endif %}{% endif %}" href="{% url 'supplies' %}">All Supplies</a>
        </li>
        <li class="nav-item">
            <a class="rounded-0 nav-link {% if 'Drinks' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Drinks">Drinks</a>
        </li>
        <li class="nav-item">
            <a class="rounded-0 nav-link {% if 'Sweet' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Sweet">Sweet</a>
        </li>
        <li class="nav-item">
            <a class="rounded-0 nav-link {% if 'Savoury' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Savoury">Savoury</a>
        </li>
        <li class="nav-item">
            <a class="rounded-0 nav-link {% if 'Healthy' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Healthy">Healthy</a>
        </li>
        <li class="nav-item">
            <a class="rounded-0 fw-bold nav-link sort-link {% if 'sort' in url_name %}active{% endif %}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Sort</a>
            <div class="collapse" id="collapseExample">
                <ul>
                    <li><a class="nav-link" href="{% url 'supplies' %}?sort=price&direction=asc">Price</a></li>
                    <li><a class="nav-link" href="{% url 'supplies' %}?sort=category&direction=asc">Category</a></li>
                    <li><a class="nav-link" href="{% url 'supplies' %}?sort=brand&direction=asc">Brand</a></li>
                </ul>
            </div>
        </li>
        <!-- Current sorting -->
        {% if current_sorting != "None None" %}
            <p class="highlight">Sorting by: {{ current_sorting|title }}</p>
        {% endif %}
    </ul>
    {% endwith %}
    <!-- Search bar -->
    <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-4 container-search">
            <form class="form my-2" method="GET" action="{% url 'supplies' %}">
                <div class="input-group">
                    <input class="form-control text-left" type="text" name="q" placeholder="Find a Supply"
                        aria-label="Search Button" aria-describedby="search-button">
                    <button class="btn" type="submit" id="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- Search Results -->
        {% if search_term or current_categories == 'None_None' %}
        <div class="card h-100 p-4 text-center">
            <p class="m-auto highlight gamerStyle">
                Your search returned {{ supplies|length }} supplies for
                <span class="fw-bold">"{{ search_term }}."</span>
                <span class="small highlight"><br>
                <a href="{% url 'supplies' %}">Clear Search</a></span>
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-center col-10 offset-1">
        {% for supply in supplies %}
            <div class="col-md-6 col-lg-4 my-3 p-1 gamerStyle">
                <!-- Supply Cards -->
                <div class="card h-100 text-center p-2">
                    <!-- Supply Image -->
                    <div class="col-6 m-auto">
                        {% if supply.image %}
                        <img src="{{ supply.image.url }}" class="card-img-top img-fluid supply-img" alt="{{ supply.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ supply.name }}" class="card-img-top img-fluid">
                        {% endif %}
                    </div>
                    <!-- Supply Info -->
                    <div class="card-title highlight">{{ supply.name }}</div>
                    <p class="card-text text-desc overflow-auto">{{ supply.description }}</p>
                    <p class="card-text"> <span class="highlight">Size:</span> {{ supply.size }}</p>
                    <p class="card-text"> <span class="highlight">Brand:</span> {{ supply.brand }}</p>
                    <p class="card-text text-price highlight">£{{ supply.price }}</p>
                    <!-- Buttons -->
                    {% if request.user.is_superuser %}
                        <!-- Admin buttons -->
                        <div>
                            <a class="btn solid small mx-1" href=""><i class="fas fa-edit p-1"></i></a>
                            <a class="btn solid small mx-1" href=""><i class="fas fa-trash p-1"></i></a>
                        </div>
                    {% elif request.user.is_authenticated %}
                        <!-- Add to Crate Button -->
                        <form class="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-lg"><i class="fas fa-box-open"></i> Add to Crate</button>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            </div>
                        </form>
                    {% else %}
                        <!-- Login/Sign Up Buttons -->
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-sm m-2" href="">Login</a>
                                <a class="btn btn-sm m-2" href="">Sign Up</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}