{% extends "base.html" %}
{% load static %}

{% block extra_title %}Supplies | {% endblock %}

{% block content %}
    <div class="container container-content">
        <div class="row">
            <div class="col text-center">
                <h1>Supplies</h1>
            </div>
        </div>
        {% with request.get_full_path as url_name %}
        <!-- Search bar -->
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-4 container-search">
                <form class="form my-2" method="GET" action="{% url 'supplies' %}">
                    <div class="input-group">
                        <input class="form-control text-left altFont" type="text" name="q" placeholder="Find a Supply"
                            aria-label="Search Button" aria-describedby="search-button">
                        <button class="btn" type="submit" id="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="gamerStyle container-categories my-2">
            <ul class="nav nav-tabs highlight justify-content-center p-0 gamerStyle">
                <li class="nav-item">
                    <a class="rounded-0 nav-link {% if 'sort' not in url_name %}{% if 'category' not in url_name %}active{% endif %}{% endif %}" href="{% url 'supplies' %}">All Supplies</a>
                </li>
                <li class="nav-item">
                    <a class="rounded-0 nav-link {% if 'Drinks' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Drinks">Drinks</a>
                </li>
                <li class="nav-item">
                    <a class="rounded-0 nav-link {% if 'Sweet' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Sweet">Sweet</a>
                </li>
                <li class="nav-item">
                    <a class="rounded-0 nav-link {% if 'Savoury' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Savoury">Savoury</a>
                </li>
                <li class="nav-item">
                    <a class="rounded-0 nav-link {% if 'Healthy' in url_name %}active{% endif %}" href="{% url 'supplies' %}?category=Healthy">Healthy</a>
                </li>
            </ul>
            <!-- Current sorting -->
            {% if current_sorting != "None None" %}
                <p class="altFont text-center ms-3 mb-1">Sorting by: {{ current_sorting|title }}</p>
            {% endif %}
            <div class="nav-item">
                <a id="sort-trigger" class="highlight rounded-0 text-center nav-link pt-1 title-sort w-25 mx-auto {% if 'sort' in url_name %}active{% endif %}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Sort</a>
                <div class="collapse" id="collapseExample">
                    <ul>
                        <div class="row pt-0">
                            <div class="col-6 pb-1">
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=price&direction=asc">Price (low to high)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=price&direction=desc">Price (high to low)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=name&direction=asc">Name (A-Z)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=name&direction=desc">Name (Z-A)</a></li>
                            </div>
                            <div class="col-6 pb-1">
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=category&direction=asc">Category (A-Z)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=category&direction=desc">Category (Z-A)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=brand&direction=asc">Brand (A-Z)</a></li>
                                <li><a class="link-sort text-center altFont p-1" href="{% url 'supplies' %}?sort=brand&direction=desc">Brand (Z-A)</a></li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        {% endwith %}
        <!-- Search Results -->
        {% if search_term or current_categories == 'None_None' %}
        <div class="p-4 text-center">
            <p class="m-auto altFont gamerStyle">
                Your search returned {{ supplies|length }} supplies for
                "<span class="highlight">{{ search_term }}</span>".
                <span class="small highlight2 altFont"><br>
                <a href="{% url 'supplies' %}">Clear Search</a></span>
            </p>
        </div>
        {% endif %}
        <div class="row justify-content-center col-10 offset-1">
            {% for supply in supplies %}
                <div class="col-md-6 col-lg-4 mb-3 p-1">
                    <!-- Supply Cards -->
                    <div class="card h-100 text-center p-2 gamerStyle me-md-2 me-lg-5">
                        <!-- Supply Image -->
                        <div class="col-66 m-autos w-50 mx-auto">
                            {% if supply.image %}
                            <img src="{{ supply.image.url }}" class="img-fluid rounded supply-img" alt="{{ supply.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid rounded supply-img" alt="{{ supply.name }}">
                            {% endif %}
                        </div>
                        <!-- Supply Info -->
                        <div class="card-title w-100 highlight">{{ supply.name }}</div>
                        <p class="card-text text-desc overflow-scroll">{{ supply.description }}</p>
                        <div class="card-buttons">
                            <p class="card-text"> <span class="highlight">Size:</span> {{ supply.size }}</p>
                            <p class="card-text"> <span class="highlight">Brand:</span> {{ supply.brand }}</p>
                            <p class="card-text text-price highlight">Price: £{{ supply.price }}</p>
                            <!-- Buttons -->
                            <!-- Add to Crate Button -->
                            {% if request.user.is_authenticated %}
                            <form class="form" action="{% url 'add_to_crate' supply.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="highlight">Quantity:</p>
                                        <div class="form-group w-50 mx-auto mb-1">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="qty-dec btn rounded-0" data-item_id="{{ supply.id }}" id="qty-dec_{{ supply.id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control qty-input" type="number" name="quantity" value="1"min="1" max="99" data-item_id="{{ supply.id }}" id="id_qty_{{ supply.id }}">
                                                <div class="input-group-append">
                                                    <button class="qty-inc btn rounded-0" data-item_id="{{ supply.id }}" id="qty-inc_{{ supply.id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12"><button type="submit" class="btn btn-lg p-1"><i class="fas fa-box-open"></i> Add to Crate</button></div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                            {% if request.user.is_superuser %}
                            <!-- Admin buttons -->
                            <div>
                                <a class="btn solid small mx-1 my-1" href="{% url 'supply_edit' supply.id %}"><i class="fas fa-edit p-1"></i></a>
                                <a class="btn solid small mx-1 my-1" href="{% url 'supply_delete' supply.id %}"><i class="fas fa-trash p-1"></i></a>
                            </div>
                            {% endif %}
                            {% else %}
                            <!-- Login/Sign Up Buttons -->
                            <div class="row">
                                <div class="col">
                                    <p class="my-0 small altFont"><a class="highlight" href="{% url 'account_signup' %}">Register</a> or <a class="highlight" href="{% url 'account_login' %}">Login</a> to add your crate</p>          
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-buttons row w-25">
        <div id="trigger-btt" class="hidden col-12 text-end">
            <a class="btn-btt h-100 mt-2">
                <img src={% static "images/back-to-top.png" %} class="img-btn-supplies" alt="Back to Top">
            </a>	
        </div>
        <br>
        {% if request.user.is_superuser %}
            <div class="col-12 text-end">
                <a class="pb-1" href="{% url 'supply_add' %}">
                    <img src={% static "images/add-supply.png" %} class="img-btn-supplies mt-3" alt="Add Supply">
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'supplies/includes/quantity_input.html' %}
    <script type="text/javascript">
        // Credit for adapted scroll to top button - see README.md for details
        var page = document.documentElement
        document.addEventListener("scroll", function () { 
            var btt = document.getElementById('trigger-btt')
            if (page.scrollTop > 290) { btt.classList.remove('hidden'); } else { btt.classList.add('hidden'); }
        })
		$('#trigger-btt').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}